.container {
    margin-top: 100px;
    text-align: center;
}

.container h1 {
    color:  rgb(37, 1, 1);
    font-size: 80px;
    font-family: Impact;
    transition: all .5s ease;
}


.container button {
    width: 250px;
    height: 90px;
    background-color: rgb(3, 3, 125);
    color: white;
    transition: all .5s ease;
}

.container p{
    font-size: 35px;
}

.container button:hover{
    background-color: rgb(37, 1, 1);
    border-radius: 20px;
    font-size: large;


}


